{% extends "PizzeriaManuel/padre.html" %}

{% load static %}

{% block container %}
<section class="about bg-dark ">

    <article class=" about-info  ">
        <h2 class="text-white fw-bolder">Sobre Mi</h2>
        <p class="text-white fw-bolder">Hola mi nombre es Agustin, Tengo 23 años esto es mi primer paso por el mundo de la programación
            Actualmente trabajo en una concesionaria de motos en el area de sistemas realizando tareas de mantenimiento de computadoras, soporte técnico
            redes,cctv,etc.
        </p>
    </article>

</section>
{% endblock %}